In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3,0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2,0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1,0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1,0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0,0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0,0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0,2,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3,0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0,0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0,0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,False,False,False,False,False,False,True,True,False,True
1,3.000000,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,True,False,False,False,False,False,True,False,False,True
2,4.000000,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,True,False,False,False,False,False,True,False,False,True
3,5.000000,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,True,False,False,False,False,False,True,False,True,True
4,5.000000,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,True,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0,0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,True,False,False,False,False,False,True,False,False,True
395,51.492308,70.000000,0,2,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,True,False,False,True,True,False,True,False,True,True
396,51.492308,70.000000,3,0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,True,False,False,True,True,False,False,False,False,True
397,51.492308,90.000000,0,0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,True,False,False,True,True,False,True,False,True,True
398,51.492308,80.000000,0,0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,True,False,False,False,False,False,True,False,False,False

In [6]:
dataset=dataset.astype(int)

In [7]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2,76,3,0,148,57,3,137,4,12,...,0,0,0,0,0,0,1,1,0,1
1,3,76,2,0,148,22,0,137,4,10,...,1,0,0,0,0,0,1,0,0,1
2,4,76,1,0,99,23,0,138,4,12,...,1,0,0,0,0,0,1,0,0,1
3,5,76,1,0,148,16,0,138,3,8,...,1,0,0,0,0,0,1,0,1,1
4,5,50,0,0,148,25,0,137,4,11,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51,70,0,0,219,36,1,139,3,12,...,1,0,0,0,0,0,1,0,0,1
395,51,70,0,2,220,68,2,137,4,8,...,1,0,0,1,1,0,1,0,1,1
396,51,70,3,0,110,115,6,134,2,9,...,1,0,0,1,1,0,0,0,0,1
397,51,90,0,0,207,80,6,142,5,8,...,1,0,0,1,1,0,1,0,1,1
398,51,80,0,0,100,49,1,140,5,16,...,1,0,0,0,0,0,1,0,0,0

In [8]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [9]:
indepedent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv','wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes','appet_yes', 'pe_yes', 'ane_yes']]

In [10]:
indepedent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2,76,3,0,148,57,3,137,4,12,...,1,0,0,0,0,0,0,1,1,0
1,3,76,2,0,148,22,0,137,4,10,...,1,1,0,0,0,0,0,1,0,0
2,4,76,1,0,99,23,0,138,4,12,...,1,1,0,0,0,0,0,1,0,0
3,5,76,1,0,148,16,0,138,3,8,...,1,1,0,0,0,0,0,1,0,1
4,5,50,0,0,148,25,0,137,4,11,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51,70,0,0,219,36,1,139,3,12,...,1,1,0,0,0,0,0,1,0,0
395,51,70,0,2,220,68,2,137,4,8,...,1,1,0,0,1,1,0,1,0,1
396,51,70,3,0,110,115,6,134,2,9,...,1,1,0,0,1,1,0,0,0,0
397,51,90,0,0,207,80,6,142,5,8,...,1,1,0,0,1,1,0,1,0,1
398,51,80,0,0,100,49,1,140,5,16,...,1,1,0,0,0,0,0,1,0,0

In [11]:
dependent=dataset[['classification_yes']]

In [12]:
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [13]:
dataset["classification_yes"].value_counts()

classification_yes
1    249
0    150
Name: count, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indepedent,dependent,test_size=0.30,random_state=0)

In [15]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
param_grid={'criterion':['gini', 'entropy', 'log_loss'],'max_features':['sqrt', 'log2'],'n_estimators':[10,100,100]}
grid=GridSearchCV(RandomForestClassifier(), param_grid, refit=True, verbose=3,n_jobs=-1,cv=5,scoring='f1_weighted')
grid.fit(X_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [10, 100, 100]},
             scoring='f1_weighted', verbose=3)

In [18]:
grid_predictions=grid.predict(X_test)

In [19]:
re=grid.cv_results_

In [20]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_predictions)

In [21]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_predictions)

In [22]:
print(cm)

[[45  0]
 [ 0 75]]

In [23]:
print(clf_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        45
           1       1.00      1.00      1.00        75

    accuracy                           1.00       120
   macro avg       1.00      1.00      1.00       120
weighted avg       1.00      1.00      1.00       120

In [24]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

1.0

In [25]:
table=pd.DataFrame.from_dict(re)

In [26]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.028383,0.006401,0.009342,7.627799e-03,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.964286,0.964286,0.947015,0.964286,0.963247,0.960624,0.006816,18
1,0.194434,0.008045,0.017410,3.505995e-03,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.982051,0.982051,0.947015,0.982051,0.981728,0.974979,0.013983,11
2,0.199441,0.010922,0.019585,4.476348e-03,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",1.000000,0.963889,0.964572,0.964286,0.981728,0.974895,0.014263,12
3,0.021872,0.007653,0.009373,7.652670e-03,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.964286,0.963889,0.964572,0.964286,1.000000,0.971407,0.014298,13
4,0.204028,0.006578,0.027018,7.310169e-03,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",1.000000,0.982051,0.964572,0.964286,1.000000,0.982182,0.015908,5
5,0.212082,0.009997,0.020886,5.253330e-03,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",1.000000,0.982051,0.964572,0.964286,0.981728,0.978527,0.013276,9
6,0.025957,0.008011,0.009972,7.306767e-03,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",1.000000,0.982051,0.982221,0.982051,1.000000,0.989265,0.008766,1
7,0.219493,0.005775,0.022421,7.023421e-03,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.982051,0.982051,0.964572,0.964286,1.000000,0.978592,0.013293,7
8,0.207564,0.006339,0.018746,6.248856e-03,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.982051,0.982051,0.947015,0.964286,1.000000,0.975080,0.018013,10
9,0.028768,0.006550,0.015216,2.999564e-03,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.982051,0.982051,0.947015,0.946663,0.981728,0.967902,0.017198,15
10,0.193805,0.008166,0.015621,4.768372e-07,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",1.000000,0.982051,0.964572,0.982051,1.000000,0.985735,0.013281,3
11,0.194812,0.007895,0.019862,7.505243e-03,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",1.000000,0.982051,0.947015,0.982051,1.000000,0.982223,0.019348,4
12,0.021870,0.007653,0.009373,7.653020e-03,log_loss,sqrt,10,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.982051,0.963889,0.929513,0.964286,0.981894,0.964326,0.019157,17
13,0.200467,0.007559,0.018360,7.084217e-03,log_loss,sqrt,100,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.982051,0.982051,0.964572,0.964286,1.000000,0.978592,0.013293,7
14,0.198852,0.008225,0.021874,7.654305e-03,log_loss,sqrt,100,"{'criterion': 'log_loss', 'max_features': 'sqr...",0.982051,0.982051,0.947015,0.982051,1.000000,0.978633,0.017270,6
15,0.016534,0.003616,0.015000,1.246669e-03,log_loss,log2,10,"{'criterion': 'log_loss', 'max_features': 'log...",0.964286,0.964286,0.929513,0.964286,1.000000,0.964474,0.022291,16
16,0.189271,0.003618,0.022728,9.731239e-03,log_loss,log2,100,"{'criterion': 'log_loss', 'max_features': 'log...",1.000000,0.963889,0.947015,0.964286,0.981728,0.971384,0.018035,14
17,0.183702,0.006725,0.019849,6.724177e-03,log_loss,log2,100,"{'criterion': 'log_loss', 'max_features': 'log...",1.000000,0.982051,0.982221,0.982051,1.000000,0.989265,0.008766,1

In [27]:
age_input=float(input("Age:"))
BP_input=float(input("BP :"))
sg_binput=float(input("sg-b:"))
sg_cinput=float(input("sg-c:"))
sg_dinput=float(input("sg-d:"))
sg_einput=float(input("sg-e:"))              
su_input=float(input("su:"))
sod_input=float(input("sod:"))
pot_input=float(input("pot:"))
hrmo_input=float(input("hrmo:"))
al_input=float(input("al:"))
bgr_input=float(input("bgr:"))
bu_input=float(input("bu:"))
rbc_input=float(input("rbc:"))
pc_input=float(input("pc:"))
pcc_input=float(input("pcc"))
ba_input=float(input("ba:"))
htn_input=float(input("htn:"))
dm_input=float(input("dm:"))
cad_input=float(input("cad:"))
appet_input=float(input("appet:"))
pe_input=float(input("pe:"))
ane_input=float(input("ane:"))
wc_input=float(input("wc:"))
rc_input=float(input("rc:"))
pcc_presentinput=float(input("pcc_present:"))
pcv_input=float(input("pcv :"))

Age:42
BP :100
sg-b:0
sg-c:0
sg-d:0
sg-e:0
su:100
sod:4.45
pot:10
hrmo:10.74
al:0
bgr:0
bu:10
rbc:0
pc:0
pcc0
ba:0
htn:0
dm:1
cad:0
appet:0
pe:0
ane:0
wc:8400
rc:10
pcc_present:0
pcv :0

In [28]:
Future_Prediction=grid.predict([[age_input,BP_input,su_input,sod_input,pot_input,hrmo_input,al_input,bgr_input,bu_input,rbc_input,pc_input,pcc_input,ba_input,htn_input,dm_input,cad_input,appet_input,pe_input,ane_input,sg_binput,sg_cinput,sg_dinput,sg_einput,wc_input,rc_input,pcc_presentinput,pcv_input]])

print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]

In [2]:
import pickle
filename="finalized_model _randomforest.sav"

In [3]:
pickle.dump(grid,open(filename,'wb'))

NameError: name 'grid' is not defined